.logo {
  position: absolute;
  top: -60px;
  left: 18px;
}

.splash-info {
  position: absolute;
  top: 30%;
  left: 35%;
}

.coming-soon {
  font-family: 'EB Garamond', serif;
  font-size: 43px;
  color: #99a3a3;
}

.splash-decription {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  position: relative;
  left: 54%;
  top: -30px;
  color: #000000;
}

.find-out {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  position: relative;
  left: 46%;
  top: 380px;
  color: #99a3a3;
}

.email-signup-form {
  position: absolute;
  left: 46%;
  top: 59%;
}

.join-button {
  background-color: #FFFFFF !important;
  color: #75cf75 !important;
  border: 2 !important;
  border-color: #75cf75 !important;
  top: 12px;
  left: 206px;
  position: absolute
}
