.logo {
  position: absolute;
  top: -9%;
  left: 1%;
}

.splash-info {
  position: absolute;
  top: 30%;
  left: 15%;
}

.coming-soon {
  font-family: 'EB Garamond', serif;
  font-size: 260%;;
  color: #99a3a3;
}

.splash-decription {
  font-family: 'Noto Sans', sans-serif;
  font-size: 121%;
/*  position: absolute;*/
/*  top: 63%;*/
/*  width: 207%;*/
  color: #000000;
}

.find-out {
  font-family: 'Noto Sans', sans-serif;
  font-size: 129%;
  position: relative;
  left: 14%;
  top: 377px;
  color: #99a3a3;
}

.email-signup-form {
  position: absolute;
  left: 14%;
  top: 64%;
}

.join-button {
  background-color: #FFFFFF !important;
  color: #96C8A2 !important;
  border: 2px !important;
  border-color: #96C8A2 !important;
  top: 12px;
  left: 222px;
  position: absolute
}

.email-field {
  width: 194px !important;
}

.button-border {
  border: 1px solid #96C8A2;
  height: 32px;
  width: 80px;
  top: 11px;
  left: 221px;
  position: absolute;
}